In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\Azalia\Documents\Projects\Self-Study\CareerFoundry\Instacart Analysis"

In [3]:
# import ord_prod data
df_ord_prod = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_profileflags.pkl'))

In [4]:
df_ord_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 25 columns):
 #   Column                        Dtype
---  ------                        -----
 0   order_id                      int32
 1   user_id                       int32
 2   order_number                  int32
 3   order_day_of_week             int32
 4   order_hour_of_day             int32
 5   days since_last_order         float32
 6   NaN_Flag                      bool
 7   product_id                    float32
 8   add_to_cart_order             float32
 9   reordered                     bool
 10  product_name                  object
 11  aisle_id                      int64
 12  department_id                 int64
 13  prices                        float64
 14  _merge                        category
 15  price_range_loc               object
 16  busiest_day                   object
 17  updated_busiest_day           object
 18  busiest_period_of_day         object
 19  max_order                     int32
 20  loyalty_flag                  object
 21  ave_prices                    float64
 22  spending_flag                 object
 23  median_days_since_last_order  float32
 24  frequency_flag                object
dtypes: bool(2), category(1), float32(4), float64(2), int32(6), int64(2), object(8)
memory usage: 4.4+ GB

In [5]:
# reducing memory: changing for datatypes
# changing data types using list
df_ord_prod.astype({'aisle_id':'int32','department_id':'int32','prices':'float32','ave_prices':'float32'})

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days since_last_order,NaN_Flag,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,updated_busiest_day,busiest_period_of_day,max_order,loyalty_flag,ave_prices,spending_flag,median_days_since_last_order,frequency_flag
0,2539329,1,1,2,8,NaN,True,196.0,1.0,False,...,Mid-range product,Regularly Busy,Regularly Busy days,Average orders,10,new customer,6.367796,low spender,20.5,non-frequent customer
1,2398795,1,2,3,7,15.0,False,196.0,1.0,True,...,Mid-range product,Regularly Busy,Least Busy days,Average orders,10,new customer,6.367796,low spender,20.5,non-frequent customer
2,473747,1,3,3,12,21.0,False,196.0,1.0,True,...,Mid-range product,Regularly Busy,Least Busy days,Most orders,10,new customer,6.367796,low spender,20.5,non-frequent customer
3,2254736,1,4,4,7,29.0,False,196.0,1.0,True,...,Mid-range product,Least Busy,Least Busy days,Average orders,10,new customer,6.367796,low spender,20.5,non-frequent customer
4,431534,1,5,4,15,28.0,False,196.0,1.0,True,...,Mid-range product,Least Busy,Least Busy days,Most orders,10,new customer,6.367796,low spender,20.5,non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,False,43553.0,2.0,True,...,Low-range product,Regularly Busy,Regularly Busy days,Most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32404855,31526,202557,18,5,11,3.0,False,43553.0,2.0,True,...,Low-range product,Regularly Busy,Regularly Busy days,Most orders,31,regular customer,6.905655,low spender,8.0,frequent customer
32404856,758936,203436,1,2,7,NaN,True,42338.0,4.0,False,...,Mid-range product,Regularly Busy,Regularly Busy days,Average orders,3,new customer,7.631579,low spender,15.0,regular customer
32404857,2745165,203436,2,3,5,15.0,False,42338.0,16.0,True,...,Mid-range product,Regularly Busy,Least Busy days,Fewest orders,3,new customer,7.631579,low spender,15.0,regular customer
32404858,3093936,205420,1,4,14,NaN,True,28818.0,8.0,False,...,Mid-range product,Least Busy,Least Busy days,Most orders,16,regular customer,7.684746,low spender,13.0,regular customer

In [6]:
df_ord_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 25 columns):
 #   Column                        Dtype
---  ------                        -----
 0   order_id                      int32
 1   user_id                       int32
 2   order_number                  int32
 3   order_day_of_week             int32
 4   order_hour_of_day             int32
 5   days since_last_order         float32
 6   NaN_Flag                      bool
 7   product_id                    float32
 8   add_to_cart_order             float32
 9   reordered                     bool
 10  product_name                  object
 11  aisle_id                      int64
 12  department_id                 int64
 13  prices                        float64
 14  _merge                        category
 15  price_range_loc               object
 16  busiest_day                   object
 17  updated_busiest_day           object
 18  busiest_period_of_day         object
 19  max_order                     int32
 20  loyalty_flag                  object
 21  ave_prices                    float64
 22  spending_flag                 object
 23  median_days_since_last_order  float32
 24  frequency_flag                object
dtypes: bool(2), category(1), float32(4), float64(2), int32(6), int64(2), object(8)
memory usage: 4.4+ GB

In [7]:
df_ord_prod['aisle_id']=df_ord_prod['aisle_id'].astype('int32')

In [8]:
df_ord_prod['aisle_id'].dtype

dtype('int32')

In [9]:
df_ord_prod['department_id']=df_ord_prod['department_id'].astype('int32')

In [10]:
df_ord_prod['prices']=df_ord_prod['prices'].astype('float32')
df_ord_prod['ave_prices']=df_ord_prod['ave_prices'].astype('float32')

In [11]:
df_ord_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 25 columns):
 #   Column                        Dtype
---  ------                        -----
 0   order_id                      int32
 1   user_id                       int32
 2   order_number                  int32
 3   order_day_of_week             int32
 4   order_hour_of_day             int32
 5   days since_last_order         float32
 6   NaN_Flag                      bool
 7   product_id                    float32
 8   add_to_cart_order             float32
 9   reordered                     bool
 10  product_name                  object
 11  aisle_id                      int32
 12  department_id                 int32
 13  prices                        float32
 14  _merge                        category
 15  price_range_loc               object
 16  busiest_day                   object
 17  updated_busiest_day           object
 18  busiest_period_of_day         object
 19  max_order                     int32
 20  loyalty_flag                  object
 21  ave_prices                    float32
 22  spending_flag                 object
 23  median_days_since_last_order  float32
 24  frequency_flag                object
dtypes: bool(2), category(1), float32(6), int32(8), object(8)
memory usage: 4.0+ GB

In [12]:
df_ord_prod.to_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge_profileflags2.pkl'))